[submodule "dotbot"]
	path = extern/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-env"]
	path = extern/dotbot-env
	url = https://github.com/qobilidop/dotbot-env
[submodule "gitignore"]
	path = extern/gitignore
	url = https://github.com/github/gitignore
